body::after {
	content: "";
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
}
body.popup-show::after {
	opacity: 1;
}
.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 100;
	padding: 30px 10px;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
}
.popup_show {
	visibility: visible;
	overflow: auto;
}
.popup_show .popup__content {
	visibility: visible;
	transform: scale(1);
}
.popup__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.popup__content {
	visibility: hidden;
	transform: scale(0);
	transition: transform 0.3s ease 0s;
	background-color: #eee;
	padding: 20px;
	width: 100%;
	max-width: 900px;
	border-radius: 20px;
	.lock & {
		visibility: visible;
	}
}

.popup-maps {
	.popup {
		// .popup__wrapper
		&__wrapper {
		}
	
		// .popup__content
		&__content {
			position: relative;
			background-color: inherit;
			padding: 0;
			max-width: rem(1600);
			display: flex;
			border-radius: 0;
			// padding-bottom: 50.5%;
		}
	
		// .popup__close

		&__close {
			position: absolute;
			top: 6%;
			right: 3%;
			z-index: 55;
			@include adaptiveValue("width", 60, 25);
			@include adaptiveValue("height", 60, 25);
			svg {
				width: 100%;
				height: 100%;
			}
		}

	}

		// .popup-maps__slider
		&__slider {
			// position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
			// overflow: visible !important;
		}
	
		// .popup-maps__swiper
		&__swiper {
		}
	
		// .popup-maps__slide
		&__slide {
			position: relative;
			@media (max-width: em(1440)){
				  @include adaptiveValue("padding-bottom", 65, 30);
			}
			&::before{
				content: "";
				background: linear-gradient(90deg, rgba(31, 29, 33, 0.9) 0%, rgba(31, 29, 33, 0) 100%);
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 10;
			}
		}
}

.slider-popup {
}

.slide-popup-maps {
	// padding: 65px;
	// .slide-popup-maps__img
	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 5;
		img {
			// position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	// .slide-popup-maps__descp
	&__descp {
		position: relative;
		z-index: 10;
		height: 100%;
		@include adaptiveValue("padding", 65, 15);
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		max-width: rem(650);
	}
	// .slide-popup-maps__header
	&__header {
		&:not(:last-child){
			@include adaptiveValue("margin-bottom", 63, 15);
		}
	}

	// .slide-popup-maps__body
	&__body {
		flex: 1 1 auto;
		&:not(:last-child){
			@include adaptiveValue("margin-bottom", 130, 25);
		}
	}

	// .slide-popup-maps__title
	&__title {
		@include adaptiveValue("font-size", 105, 26);
		font-weight: 700;
		line-height: math.div(105, 105);
		color: #fff;
	}

	// .slide-popup-maps__sticker
	&__sticker {
		display: inline-flex;
		font-family: 'Gilroy', serif;
		@include adaptiveValue("font-size", 16, 12);
		font-weight: 500;
		line-height: math.div(19.41, 16);
		color: #fff;
		padding: rem(3) rem(18);
		background-color: $redColor;
	}

	// .slide-popup-maps__text
	&__text {
		font-family: 'Gilroy', serif;
		@include adaptiveValue("font-size", 22, 14);
		font-weight: 500;
		line-height: math.div(26.69, 22);
		color: #fff;
		p{
			&:not(:last-child){
				margin-bottom: em(25, 22);
			}
		}
	}

	// .slide-popup-maps__footer
	&__footer {
		width: 100%;
	}

	// .slide-popup-maps__player
	&__player {
		position: relative;
		z-index: 50;
	}
}
.player-popup-maps {
	display: flex;
	justify-content: center;
	align-items: center;
	@include adaptiveValue("max-width", 385, 200);
	width: 100%;
	@media (max-width: em(414)){
		max-width: 100%;
	}
	// height: 216px;
	&__img {
		width: 100%;
		height: 100%;
		// padding-bottom: 30%;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
.player-popup-maps__btn {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	align-items: center;
	justify-content: center;
	@include adaptiveValue("width", 140, 80);
	@include adaptiveValue("height", 73, 50);
	overflow: hidden;
	svg {
		width: 100%;
		height: 100%;
	}
}
.popup-maps__buttons-wrapper {
	position: absolute;
	bottom: 0;
	z-index: 5000;
	display: flex;
	width: 100%;
	height: 15%;
	@media (max-width: em(515)){
		height: 10%;
	}
	&::before{
		content:''; 
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(360deg, rgba(31, 29, 33, 0.9) 0%, rgba(31, 29, 33, 0) 100%);
	}
}
.popup-maps__buttons {
	@include adaptiveValue("gap", 101, 15);
	z-index: 15;
	.slider-arrow {
		@media (max-width: em(515)){
			  display: none !important;
		}
	}
}
.popup-maps__pagging  {

}