// Базовые стили спойлеров
// Сниппет (HTML): spoller

// Блок со спойлерами
.spollers {
	display: grid;
	gap: rem(10);
}
// Спойлер
.spollers__item {
	font-size: rem(20);
	// &:not(:last-child) {
	// 	margin-bottom: em(30, 20); 
	// }
}
// Заголовок спойлера
.spollers__title {
	width: 100%;
	font-family: 'Bebas', serif;
	@include adaptiveValue("font-size", 35, 20);
	font-weight: 700;
	line-height: math.div(35, 35);
	letter-spacing: 0.1em;
	cursor: default;
	text-align: left;
	background-color: #E4E4E4;
	@include adaptiveValue("padding-top", 30, 15);
	@include adaptiveValue("padding-right", 55, 35);
	@include adaptiveValue("padding-bottom", 20, 15);
	@include adaptiveValue("padding-left", 33, 15);
	position: relative;
	._spoller-init & {
		cursor: pointer;
		// &::before,
		&::after {
			content: "";
			position: absolute;
			@include adaptiveValue("right", 20, 10);
			top: 50%;
			@include adaptiveValue("height", 45, 15);
			@include adaptiveValue("width", 45, 15);
			transition: transform 0.5s ease 0s;
			background: url('../img/icons/arrow-sm.svg') center no-repeat;
			background-size: contain;
		}
		&::after {
			transform: translate(0, -50%) rotate(0deg);
		}
		&._spoller-active {
			&::after {
				transform: translateY(-50%) rotate(90deg);
			}
		}
	}
}
// Контент спойлера
.spollers__body {
	font-family: 'Gilroy', serif;
	font-size: rem(14);
	font-weight: 500;
	line-height: math.div(16.98, 14);
	color: #fff;
	padding: 55px 34px;
	@include adaptiveValue("padding-top", 55, 20);
	@include adaptiveValue("padding-right", 34, 15);
	@include adaptiveValue("padding-bottom", 55, 20);
	@include adaptiveValue("padding-left", 34, 15);
	background-color: #1F1D21;
	p {
		&:not(:last-child){
			margin-bottom: em(15, 14);
		}
	}
}

._spoller-init .spollers__title._spoller-active::after {
	background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjMiIGhlaWdodD0iMjYiIHZpZXdCb3g9IjAgMCAyMyAyNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KCTxwYXRoIGQ9Ik0yMy4wMDAyIDEyLjg0NDdMMC43NTI0NDIgMjUuNjg5NUwwLjc1MjQ0MiAxLjUyOTE1ZS0wN0wyMy4wMDAyIDEyLjg0NDdaIiBmaWxsPSIjRTEzMjM5IiAvPgo8L3N2Zz4=');
}