<div class="other-news__item item-news">
	<div class="item-news__img-ibg">
		<img src="img/news/01.jpg" loading="lazy" alt="Картинка">
	</div>
	<div class="item-news__descp descp-item-news">
		<div class="descp-item-news__header">
			<div class="descp-item-news__title">Обновление карты “Гулаг” — теперь “Алькатрас”</div>
			<div class="descp-item-news__info info-card-news">
				<div class="info-card-news__sticker sticker-card-news sticker-card-news_red">
					Дневник
					разработчика
				</div>
				<div class="info-card-news__sticker sticker-card-news sticker-card-news_grey">
					20/10/2024
				</div>
			</div>
		</div>
		<div class="descp-item-news__body">
			<div class="descp-item-news__text">
				В этой статье мы приоткроем занавес на наши новые обновления в картографии и не
				только.... <a href="">читать продолжение....</a>
			</div>
		</div>
	</div>
</div>