<a href="new.html" class="news__card card-news">
	<div class="card-news__img-ibg">
		<img src="img/news/01.jpg" loading="lazy" alt="Картинка">
	</div>
	<div class="card-news__body">
		<div class="card-news__title">
			Обновление карты “Гулаг” — теперь “Алькатрас”
		</div>
		<div class="card-news__info info-card-news">
			<div class="info-card-news__sticker sticker-card-news sticker-card-news_red">Дневник
				разработчика</div>
			<div class="info-card-news__sticker sticker-card-news sticker-card-news_grey">20/10/2024
			</div>
		</div>
		<div class="card-news__text">
			<p>
				В этой статье мы приоткроем занавес на наши новые обновления в картографии и не только.
			</p>
			<p>
				В этой статье мы приоткроем занавес на наши новые обновления в картографии и не только
			</p>
		</div>
	</div>
</a>