<section class="page__social social">
	<div class="social__container">

		<div class="social__title title">МЫ В СОЦ. СЕТЯХ</div>

		<div class="social__inner">

			<a href="" class="social__item item-social">
				<img src="img/icons/social/youtube.svg" loading="lazy" alt="Картинка">
			</a>

			<a href="" class="social__item item-social">
				<img src="img/icons/social/game.svg" loading="lazy" alt="Картинка">
			</a>

			<a href="" class="social__item item-social">
				<img src="img/icons/social/insta.svg" loading="lazy" alt="Картинка">
			</a>

			<a href="" class="social__item item-social">
				<img src="img/icons/social/tik-tok.svg" loading="lazy" alt="Картинка">
			</a>

			<a href="" class="social__item item-social">
				<img src="img/icons/social/vk.svg" loading="lazy" alt="Картинка">
			</a>

			<a href="" class="social__item item-social">
				<img src="img/icons/social/dzen.svg" loading="lazy" alt="Картинка">
			</a>

		</div>

	</div>
</section>