//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: rem(13) rem(16);
	font-family: 'Gilroy', serif;
	font-size: rem(14);
	font-weight: 700;
	line-height: math.div(14, 17.33);
	letter-spacing: 0.1em;
	text-align: center;	
	text-transform: uppercase;
	color: #fff;
	background: #FFFFFF1A;
	transition: $mainTransition;
	@media (any-hover: hover) {
		&:hover {
		}
	}
	&._fw {
		width: 100%;
	}
	&._btn-red {
		background-color: $redColor;
	}
	&._btn-dark {
		background-color: #1F1D21;
	}
	&._btn-grey {
		background-color: #1F1D2166;
	}
} 
