// Заголовки, общие БЄМ блоки и проче...

.title {
	text-align: center;
}
.title-main {
	display: flex;
	align-items: flex-end;
	@include adaptiveValue("gap", 15, 5);
	@include adaptiveValue("font-size", 52, 26);
	font-weight: 700;
	line-height: math.div(52, 52);
	color: #d9d9d9;
	&::before{
		content:''; 
		float: left; 
		@include adaptiveValue("width", 18, 8);
		@include adaptiveValue("height", 18, 8);
		background-color: #d9d9d9;
		transform: translateY(rem(-10));
	}
}
//========================================================================================================================================================

.header-page {

	&__inner {

	}
	&__container {

	}

	// .header-page__title-block
	&__title-block {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		@include adaptiveValue("gap", 40, 10);
		@media (max-width: $mobileBig ){
			  flex-direction: column;
			  align-items: flex-start;
		}
	}

	// .header-page__title
	&__title {
		@include adaptiveValue("font-size", 72, 33);
		font-weight: 700;
		line-height: math.div(72, 72);
		color: #1F1D21;
	}

	// .header-page__actions
	&__actions {
		flex: 1 1 auto;
		margin-top: rem(-8);
	}
}

.page_new {
	.header-page {
		&__container {
			max-width: rem(1223);
		}
		&__inner {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			@include adaptiveValue("gap", 50, 30);
		}
		&__title-block {
			display: flex;
			justify-content: center;
			align-items: center;
			flex: 1 1 auto;
		}
		&__title {
			max-width: rem(596);
			width: 100%;
			font-family: 'Gilroy', serif;
			@include adaptiveValue("font-size", 35, 26);
			font-weight: 700;
			line-height: math.div(43.33, 35);
			text-align: center;
		}
	}
}

.actions-header-page {
	display: grid; 
	grid-template-columns: repeat(auto-fill, minmax(rem(300), 327px)); 
	gap: rem(12);
	@media (max-width: $mobileBig ){
		width: 100%;
 	}
	@media (max-width: $mobile){
		grid-template-columns: 1fr; 
	}

	// .actions-header-page__select
	&__select {
		.select__title {
			color: inherit;
			text-align: left;
			font-family: 'Gilroy', serif;
			@include adaptiveValue("font-size", 20, 16);
			font-weight: 500;
			line-height: math.div(24.26, 20);
			color: #cecece;
			border: none;
			background: #aeaeae;
			cursor: pointer;
			padding: rem(6.5) rem(10) rem(6.5) rem(18);
			width: 100%;
			border-radius: 0;
	  }
	}
	.select__options {
		color: #cecece;
		position: absolute;
		top: rem(45);
		font-family: 'Gilroy', serif;
		border-radius: 0;
		min-width: 100%;
		left: 0;
		background: #aeaeae;
		border-top: 0;
		border: none;
		border-top: 0;
		padding: 0;
		border: rem(1) solid #aeaeae;;
  }
	.select__option {
		font-family: 'Gilroy', serif;
		width: 100%;
		display: block;
		text-align: left;
		cursor: pointer;
		padding: rem(10) rem(15);
		color: inherit;
		@media (any-hover: hover){
			 &:hover { 
				color: #1F1D21;
		  } 
		}
	}
	.select__value {
		height: rem(30);
		padding: 0px rem(5);
  }
	.select__value:before {
		content: "";
		flex: 0 0 rem(13);
		height: rem(13);
		transition: all 0.3s ease 0s;
		display: flex;
		justify-content: center;
		align-items: center;
		align-self: center;
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100%;
		background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxMiAxNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEyIDdMLTYuNTI1MzNlLTA3IDEzLjkyODJMLTQuNjg0OTdlLTA4IDAuMDcxNzk2NEwxMiA3WiIgZmlsbD0iI0Q5RDlEOSIvPgo8L3N2Zz4K');
  }
  ._select-open .select__value:before {
		transform: rotate(90deg);
	}
}
//========================================================================================================================================================

.date-page {
	display: inline-flex;
	align-items: center;
	max-width: rem(104);
	width: 100%;
	font-family: 'Gilroy', serif;
	@include adaptiveValue("font-size", 12, 10);
	font-weight: 500;
	line-height: math.div(14.56, 12);
	color: rgba(0, 0, 0, 0.3);
	padding: 0.25rem 0.625rem;
	background-color: #AEAEAE;
}
//========================================================================================================================================================

// Slider 
.slider-actions {
	display: flex;
	align-items: center;
	margin: 0 auto 0 auto;
	padding: 0 rem(10);
	padding: 0 rem(10);
	.slider-arrow {
		display: flex;
		justify-content: center;
		align-items: center;
		@include adaptiveValue("width", 26, 13);
		@include adaptiveValue("height", 36, 18);
		overflow: hidden;
		svg {
			width: 100%;
			height: 100%;
			path {
				fill: #a1a1a2;
			}
		}
		// @media (max-width: $tabletSmall){
		// 	  display: none;
		// }
	}
}
.slider-pagging {
	display: flex;
	align-items: center;
	@include adaptiveValue("gap", 40, 20);
	.swiper-pagination-bullet {
		width: rem(13);
		height: rem(13);
		border: rem(2) solid #a1a1a2;
		cursor: pointer;
		transition: $mainTransition;
		transition: all 0.6s ease 0s;
	}
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
	background-color: #a1a1a2;
	width: rem(16);
	height: rem(16);
}
//========================================================================================================================================================

// Свойсьво Blur 
.backdrop-filter {
	background: rgba(255, 255, 255, 0.9);
	// Если браузер поддерживает backdrop-filter
	@supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31))) {
		background: rgba(255, 255, 255, 0.72);
		backdrop-filter: blur(31);
	}
}
//========================================================================================================================================================

// Технические классы 
.navi-show:after {
	content: '';
	opacity: 1;
	z-index: 5;
}
//========================================================================================================================================================

// Стилизация скролла сайта ==============================================================================================================================
::-webkit-scrollbar {
	overflow-y: scroll;
	width: 7px;
	background-color: #1f1d21; 
}

::-webkit-scrollbar-thumb {
	background-color: #f9f9fd;
}

// .simplebar-scrollbar::before {
// 	background-color: #f9f9fd !important;
//  }
