//====================================================================================================
.header { 
	min-height: 68px;
	z-index: 1000;
}
.header__wrapper {
	position: relative;
	z-index: 5;
	@include adaptiveValue("padding-top", 16, 8);
	@include adaptiveValue("padding-bottom", 16, 8);
	background-color: #1F1D21;
	box-shadow: 0 0 rem(13) rgba(0, 0, 0, 0.5);
}
.header__container {
	max-width: rem(1260);
}
.header__inner {
	display: flex;
	align-items: center;
	@include adaptiveValue("gap", 60, 10);
}
.header__main {
	flex: 1 1 auto;
	justify-content: space-between;
}
.main-header {
	display: flex;
	align-items: center;
	ul {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: flex-end;
		@media (max-width: $tablet){
			display: none;
		}
		a {
			font-family: 'Gilroy', serif;
			font-size: rem(10);
			font-weight: 500;
			line-height: math.div(10, 12.13);
			letter-spacing: 0.04em;
			padding: rem(2);
			@include adaptiveValue("margin-left", 36, 15);
			color: #fff;
			text-transform: uppercase;
			transition: $mainTransition;
			@media (any-hover: hover){
				 &:hover { 
				 opacity: 0.7; 
			  } 
			}
			// &._navigator-active {
			// 	color: #BA2E35;
			// }
		}
	}
}

.logo {
	overflow: hidden;
	img {
		width: 100%;
		height: 100%;
	}
}
.main-header__logo {
	@include adaptiveValue("width", 177, 90);
	height: auto;
}

.header__actions {
	justify-content: flex-end;
	flex: 1 1 auto;
}
.actions-header {
	display: flex;
	align-items: center;
	@include adaptiveValue("gap", 30, 10);
}
.actions-header__buttons {
	display: grid; 
	grid-template-columns: rem(137) 1fr; 
	gap: rem(10);
	@media (max-width: $mobile) {
		grid-template-columns: 1fr; 
	}
}
.actions-header__btn {
	@include adaptiveValue("font-size", 14, 10);
	@include adaptiveValue("padding-top", 13, 10);
	@include adaptiveValue("padding-right", 16, 10);
	@include adaptiveValue("padding-bottom", 13, 10);
	@include adaptiveValue("padding-left", 16, 10);
	@media (max-width: $tabletSmall) {
		&:nth-child(2)	{
			display: none;
		}
	}
}
.btn {
}
.actions-header__choice {
}
.choice-header {
	display: flex;
	align-items: center;
	@include adaptiveValue("gap", 32, 10);
}
.form {
}
.select_choice-header-select {
	.select__title {
		font-family: 'Gilroy', serif;
		font-size: rem(12);
		font-weight: 500;
		line-height: math.div(12, 14.56);
		letter-spacing: 0.05em;
		color: #fff;
		border: none;
		background-color: inherit;
		cursor: pointer;
		width: 100%;
		border-radius: 0;
  }
	.select__value:before {
		content: "";
		align-self: stretch;
		flex: 0 0 rem(7);
		margin-left: rem(6);
		transition: all 0.4s ease 0s;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url('../img/icons/arrow-bottom.svg');
	}
	.select__options {
		font-family: 'Gilroy', serif;
		position: absolute;
		top: rem(29);
		font-family: 'Gilroy', serif;
		font-size: rem(12);
		font-weight: 500;
		line-height: math.div(12, 14.56);
		letter-spacing: 0.05em;
		color: #000;
		border-radius: 0;
		min-width: 100%;
		left: 0;
		background-color: #fff;
		border-top: 0;
		border: none;
		border-top: 0;
		padding: 0;
  }
	.select__option {
		font-family: 'Gilroy', serif;
		padding: rem(5) rem(10);
		color: inherit;
	}
}
//========================================================================================================================================================

.header__box {
	position: absolute;
	@include adaptiveValue("top", 70, 50);
	right: 0;
	max-width: rem(366);
	width: 100%;
	height: 100vh;
	transition: $mainTransition;
	transform: translateX(100%);
	visibility: hidden;
}
.menu-open .header__box {
	transform: translateX(0%);
	visibility: visible;
}
.box-header {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	@include adaptiveValue("gap", 30, 10);
	@include adaptiveValue("padding-top", 60, 15);
	background-color: #d0d0d0;
}
.box-header__body {
	display: flex;
	width: 100%;
	flex: 1 1 auto;
}
.body-box-header {
	ul {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		@include adaptiveValue("gap", 20, 8);
		@include adaptiveValue("padding-top", 10, 6);
		@include adaptiveValue("padding-left", 33, 15);
		@include adaptiveValue("padding-right", 33, 15);
		@include adaptiveValue("padding-bottom", 10, 6);
		width: 100%;
		li {
			width: 100%;
		}
		a {
			display: flex;
			font-family: 'Bebas', serif;
			@include adaptiveValue("font-size", 35, 18);
			font-weight: 700;
			line-height: math.div(35, 35);
			letter-spacing: 0.1em;
			color: #858486;
			text-transform: uppercase;
			transition: $mainTransition;
			@media (any-hover: hover){
				 &:hover { 
					color: #1F1D21;
			  } 
			}
		}
	}
}

.footer-box-header {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
}
.box-header__footer {
}
.box-header__buttons {
	display: flex;
	flex-direction: column;
	gap: rem(10);
	width: 100%;
	padding: rem(10);
}
.box-header__btn {
	color: rgba(255, 255, 255, 0.6);
	transition: $mainTransition;
	@media (any-hover: hover){
		 &:hover { 
		 opacity: 0.7; 
	  } 
	}
}
.box-header__social {
}
.social-box-header {
	width: 100%;
	@include adaptiveValue("padding-top", 30, 20);
	@include adaptiveValue("padding-right", 30, 10);
	@include adaptiveValue("padding-bottom", 110, 75);
	@include adaptiveValue("padding-left", 30, 10);
	background-color: #d9d9d9;
}
.social-box-header__title {
	@include adaptiveValue("font-size", 30, 23);
	font-weight: 700;
	line-height: math.div(30, 30);
	text-align: center;
	color: #1F1D21;
	text-transform: uppercase;
	&:not(:last-child){
		margin-bottom: em(23, 30);
	}
}
.social-box-header__icons {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: rem(20);
}
.social-box-header__icon {
}
.icon-social {
	display: flex;
	justify-content: center;
	align-items: center;
	@include adaptiveValue("height", 30, 20);
	overflow: hidden;
		svg {
			width: 100%;
			height: 100%;
		}
}
//====================================================================================================

// Анимация header scroll
.header__wrapper {
	@media (min-width: 1025px) {
		transform: translateY(0);
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		transition: all 0.4s ease 0.1s;
	}
}

.header._header-scroll .header__wrapper {
	transform: translateY(-200%);
	width: 100%;
	box-shadow: 0 0 rem(5) rgba(0, 0, 0, 0.5); 
}
.header._header-show .header__wrapper {
	top: 0%;
	transform: translateY(0);
}

// Убираем скачок при блокировке 
.lock .header__wrapper {
	@media (min-width:em(1025)){
		left: auto;
		right: 3px;
	}
}
//========================================================================================================================================================

//Burger
.icon-menu {
	// @media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(15);
		height: rem(12);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: $mainTransition;
			left: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #605f61;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				transform: scale(0);
			}
			&::before {
				transform: rotate(-45deg);
				top: calc(50% - rem(1));
			}
			&::after {
				transform: rotate(45deg);
				bottom: calc(50% - rem(1));
			}
		}
	}
// }
//========================================================================================================================================================

.navigation-box {

	&__wrapper {
	}

	// .navigation-box__list
	&__list {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 0 rem(15) 0 rem(20);
	}

	// .navigation-box__item
	&__item {
		display: flex;
		align-items: center;
		cursor: pointer;
		&::before{
			content:'';  
			flex: 0 0 rem(18);
			width: rem(18);
			height: rem(8);
			background-color: #8c8b8c;
			transition: $mainTransition;
		}
		&:not(:last-child){
			margin-bottom: em(20, 30);
		}
	}

	// .navigation-box__link
	&__link {
		font-family: 'Bebas', sans-serif;
		@include adaptiveValue("font-size", 30, 23);
		font-weight: 700;
		line-height: math.div(30, 30);
		letter-spacing: 0.04em;
		width: 100%;
		color: #8c8b8c;
		white-space: nowrap;
		width: 0;
		overflow: hidden;
		margin-left: rem(10);
		transition: $mainTransition;
	}
}

.navigation-box__item {
	&:nth-child(1)	{
		&::before{
			height: rem(18);
		}
	}
	@media (any-hover: hover){
		 &:hover { 
			&::before{
				padding: 3.3%;
				background-color: #fff;
			}
			.navigation-box__link{
				color: #fff;
			}
	  } 
	}
	&._navigator-active {
		// &::before{
		// 	height: rem(18);
		// 	background-color: #fff;
		// }
		// .navigation-box__link{
		// 	color: #fff;
		// }
	}
}

.navigation-box__list._active {
	.navigation-box__item::before {
	}
	.navigation-box__link {
		width: 100%;
		margin-left: rem(37);
	}
}

//========================================================================================================================================================
