//====================================================================================================
.first-screen {
	position: relative;
	display: flex;
	border-top-right-radius: 0 0 ;
	background-repeat: no-repeat;
	background-size: cover;
	&::before{
		content:''; 
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(180deg, #1F1D21 0%, rgba(31, 29, 33, 0) 180%);
	}
}
.first-screen__container {
	width: 100%;
}
.first-screen__inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: rem(10);
	height: 100%;
}
.first-screen__descp {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
.first-screen__img-ibg {
	position: relative;
	z-index: 1;
	max-width: rem(793);
	width: 100%;
	padding-bottom: 16.5%;
	overflow: hidden;
	img {
		object-fit: contain;
	}
}
.first-screen__title {
	position: relative;
	z-index: 1;
	font-family: 'Gilroy', sans-serif;
	@include adaptiveValue("font-size", 22, 16);
	font-weight: 500;
	line-height: math.div(34, 22);
	text-align: center;
	color: rgba(255, 255, 255, 0.45);
}
.first-screen__actions {
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: rem(15);
	font-family: 'Bebas', serif;
	@include adaptiveValue("font-size", 32, 12);
	font-weight: 700;
	line-height: math.div(32, 32);
	letter-spacing: 0.1em;
	text-align: center;
	color: rgba(255, 255, 255, 0.35);
	transition: $mainTransition;
	@media (any-hover: hover){
		 &:hover { 
		 color: #fff; 
	  } 
	}
	span {
		display: flex;
		justify-content: center;
		align-items: center;
		@include adaptiveValue("width", 158, 80);
		@include adaptiveValue("height", 82, 35);
		overflow: hidden;
		background: rgba(255, 255, 255, 0.3);
	}
	svg {
		@include adaptiveValue("width", 82, 50);
		height: 100%;
	}
}
.first-screen__btn {
	position: absolute;
	bottom: -50px;
	@include adaptiveValue("bottom", -50, -20);
	font-family: 'Bebas', serif;
	@include adaptiveValue("font-size", 45, 18);
	font-weight: 700;
	line-height: math.div(45, 45);
	letter-spacing: 0.1em;
	@include adaptiveValue("padding", 25, 10);
	@include adaptiveValue("min-width", 522, 170);
	z-index: 3;
	&::before{
		content:''; 
		position: absolute;
		top: 0;
		width: 123%;
		height: 100%;
		background: rgba(225, 50, 57, 0.3);
		transition: $mainTransition;
	}
	&::after{
		content:''; 
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
		height: 100%;
		box-shadow: 0 0 rem(35) rgba(225, 50, 57, 0.8);
		transition: $mainTransition;
	}
	@media (any-hover: hover){
		 &:hover { 
			&::before{
				width: 100%;
			}
			&::after{
				width: 100%;
				height: 100%;
				box-shadow: 0 0 rem(35) rgba(225, 50, 57, 0.3);
			}
	  } 
	}
}

//====================================================================================================

.info {
	position: relative;
	background-color: #1F1D21;
	overflow: hidden;
	&::before{
		content: "";
		position: absolute;
		top: 0%;
		// transform: translateY(-0%);
		width: 100%;
		height: 300px;
		// background: linear-gradient(180deg, #1F1D21 0%, rgba(31, 29, 33, 0) 100%);
	}

	// .info__container
	&__container {
		max-width: rem(1170);
	}

	// .info__inner
	&__inner {
		display: grid; 
		grid-template-columns: repeat(auto-fit, minmax(rem(160), 1fr)); 
		gap: rem(30);
		&:not(:last-child){
			@include adaptiveValue("margin-bottom", 254, 120);
		}
		@media (max-width: $mobile){
			grid-template-columns: repeat(auto-fit, minmax(rem(100), 1fr)); 
		}
	}

	// .info__item
	&__item {
	}

	// .info__summon
	&__summon {
	}
}

.item-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	// .item-info__tickets
	&__tickets {
		display: flex;
		flex-direction: column;
		align-items: center;
		flex: 1 1 auto;
		@include adaptiveValue("font-size", 105, 45);
		font-weight: 700;
		line-height: math.div(105, 105);
		text-align: center;
		color: #d9d9d9;
		&:not(:last-child){
			margin-bottom: em(44, 105);
		}
		span {
			@include adaptiveValue("font-size", 25, 16);
			font-weight: 700;
			line-height: math.div(25, 25);
			text-align: center;
			color: #575558;
		}
	}

	// .item-info__text
	&__text {
		font-size: 45px;
		@include adaptiveValue("font-size", 45, 23); 
		font-weight: 700;
		line-height: math.div(45, 45);
		text-align: center;
		color: #932a2f;
	}
}

.summon-info {
	position: relative;
	display: flex;
	background-color: #BA2E35;
	@include adaptiveValue("min-height", 700, 300);
	overflow: hidden;
	&::before{
		content: "";
		position: absolute;
		top: 0%;
		// transform: translateY(-0%);
		width: 100%;
		height: 300px;
		// background: linear-gradient(180deg, #1F1D21 0%, rgba(31, 29, 33, 0) 100%);
	}
	&__container {
		display: flex;
	}
	&__inner {
		position: relative;
		display: grid; 
		align-items: flex-start;
		grid-template-columns: repeat(auto-fit, minmax(rem(400), 1fr)); 
		gap: rem(30);
		@media (max-width: em(540)){
			grid-template-columns: 1fr;   
		}
	}

	&__title {
		position: relative;
		@include adaptiveValue("font-size", 135, 53);
		font-weight: 700;
		line-height: math.div(135, 135);
		color: rgba(31, 29, 33, 0.2);
		mask-image: linear-gradient(to bottom, black 30%, transparent 100%);
		-webkit-mask-image: linear-gradient(to bottom, black 30%, transparent 100%);
	}

	// .summon-info__img
	&__img {
		position: absolute;
		top: 10%;
		left: 13%;
		// max-width: 630px;
		width: 43%;
		padding-bottom: 100%;
		img {
			/* width: 100%; */
			height: 55%;
			position: absolute;
			top: 0;
			/* left: 0; */
			object-fit: contain;
			object-position: top;
			&:nth-child(2)	{
				right: 0;
			}
		}
	}

	// .summon-info__descp
	&__descp {
		// flex: 0 1 rem(580);
		width: 80%;
		align-self: center;
		z-index: 3;
		@media (max-width: $mobile){
			flex: 0 1 100%;
			width: 100%;
	 }
	}
}

.descp-summon {

	// .descp-summon__above
	&__above {
		font-family: 'Gilroy', serif;
		font-size: 14px;
		@include adaptiveValue("font-size", 14, 8);
		font-weight: 700;
		line-height: math.div(17.33, 14);
		letter-spacing: 0.2em;
		color: #838383;
		&:not(:last-child){
			margin-bottom: em(7, 14);
		}
	}

	// .descp-summon__title
	&__title {
		@include adaptiveValue("font-size", 76, 33);
		font-weight: 700;
		line-height: math.div(76, 76);
		color: #d9d9d9;
		&:not(:last-child){
			margin-bottom: em(25, 76);
		}
	}

	// .descp-summon__descp
	&__descp {
		font-family: 'Gilroy', serif;
		@include adaptiveValue("font-size", 20, 14);
		font-weight: 500;
		line-height: math.div(24.26, 20);
		color: #d9d9d9;
		&:not(:last-child){
			margin-bottom: rem(38);
		}
		p {
			&:not(:last-child){
				margin-bottom: em(25, 20);
			}
		}
	}

	// .descp-summon__btn
	&__btn {
		font-family: 'Bebas', serif;
		@include adaptiveValue("font-size", 30.51, 18);
		font-weight: 700;
		line-height: math.div(30.51, 30.51);
		letter-spacing: 0.1em;
		color: rgba(255, 255, 255, 0.6);
		min-width: rem(354);
		transition: $mainTransition;
		@media (any-hover: hover){
			 &:hover { 
			//  opacity: $opacity; 
			 color: #fff;
		  } 
		}
		@media (max-width: $mobile){
			  width: 100%;
			  min-width: auto;
		}
	}
}
//========================================================================================================================================================

.news {

	// .news__container
	&__container {
	}

	// .news__title
	&__title {
		@include adaptiveValue("font-size", 72, 33);
		font-weight: 700;
		line-height: math.div(72, 72);
		color: #1F1D21;
		&:not(:last-child){
			margin-bottom: em(70, 72);
		}
	}

	// .news__inner
	&__inner {
		display: grid; 
		grid-template-columns: repeat(auto-fill, minmax(rem(360), 1fr)); 
		@include adaptiveValue("gap", 14, 10);
		&:not(:last-child){
			@include adaptiveValue("margin-bottom", 48, 20);
		}
		@media (max-width: $tabletBig){
			grid-template-columns: repeat(auto-fill, minmax(rem(300), 1fr));   
		}
	}

	// .news__card
	&__card {
	}

	// .news__buttons
	&__buttons {
		display: flex;
		justify-content: center;
	}

	// .news__btn
	&__btn {
		font-family: 'Gilroy', serif;
		@include adaptiveValue("font-size", 20, 14);
		font-weight: 500;
		line-height: math.div(24.26, 20);
		letter-spacing: 0.25em;
		color: #989898;
		@include adaptiveValue("padding-top", 16, 10);
		@include adaptiveValue("padding-right", 48, 20);
		@include adaptiveValue("padding-bottom", 16, 10);
		@include adaptiveValue("padding-left", 48, 20);
		border: rem(2) solid #989898;
		transition: $mainTransition;
		@media (any-hover: hover){
			 &:hover { 
				color: #fff;
				background-color: $redColor;
				border: 1px solid $redColor;
		  } 
		}
	}
}

.card-news {
	 display: flex;
	 flex-direction: column;
	 align-items: flex-start;
	 background-color: #E4E4E4;
	 overflow: hidden;
	// .card-news__img
	&__img-ibg {
		position: relative;
		width: 100%;
		padding-bottom: 65.3%;
		background-color: grey;
		background-size: cover;
		overflow: hidden;
		img {
			transition: $mainTransition;
		}
		&::before{
			content:''; 
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 1;
			width: 100%;
			height: 38.3%;
			background: url('../img/news/news-bg.svg') 0 0 no-repeat;
			background-size: cover;
		}
	}

	// .card-news__body
	&__body {
		padding: 33px 22px 40px 33px;
		@include adaptiveValue("padding-top", 33, 20);
		@include adaptiveValue("padding-right", 22, 15);
		@include adaptiveValue("padding-bottom", 40, 25);
		@include adaptiveValue("padding-left", 33, 15);
	}

	// .card-news__title
	&__title {
		font-family: 'Gilroy', serif;
		@include adaptiveValue("font-size", 22, 18);
		font-weight: 700;
		line-height: math.div(27.24, 22);
		color: #1F1D21;
		&:not(:last-child){
			margin-bottom: em(15, 22);
		}
	}

	// .card-news__info
	&__info {
		flex: 1 1 auto;
		&:not(:last-child){
			@include adaptiveValue("margin-bottom", 38, 15);
		}
	}

	// .card-news__text
	&__text {
		font-family: 'Gilroy', serif;
		font-size: rem(14);
		font-weight: 500;
		line-height: math.div(16.98, 14);
		color: #b8b7b8;
		p {
			&:not(:last-child){
				margin-bottom: em(20, 14);
			}
		}
	}
}

.card-news { 
	@media (any-hover: hover){
		&:hover { 
			.card-news__img-ibg img {
			  transform: scale(1.05);
		  }
	 } 
  }
}

.info-card-news {
	display: grid; 
	grid-template-columns: repeat(auto-fill, minmax(rem(140), 1fr)); 
	gap: rem(8);

	// .info-card-news__sticker
	&__sticker {

	}
}

.sticker-card-news {
	 display: inline-flex;
	 align-items: center;
	 font-family: 'Gilroy', serif;
	 @include adaptiveValue("font-size", 12, 10);
	 font-weight: 500;
	 line-height: math.div(14.56, 12);
	 color: #fff;
	 padding: rem(4) rem(10);
	 overflow: hidden;
}
.sticker-card-news_red {
	background-color: $redColor;
}
.sticker-card-news_grey {
	color: rgba(0, 0, 0, 0.3);
	background-color: #AEAEAE;
}
//========================================================================================================================================================

.battle {
	position: relative;
	background-color: red;
	background: url('../img/battle/battle-img-bg.jpg') 0 0 no-repeat;
	background-size: cover !important;
	// background-attachment: fixed;
	overflow: hidden;

	&::before{
		content:''; 
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #00000060;
		opacity: 0;
		@media (max-width: $tabletBig){
			  opacity: 1;
		}
	}

	// .battle__container
	&__container {
		display: flex;
		justify-content: flex-end;
		position: relative;
		z-index: 3;
	}

	// .battle__descp
	&__descp {
		flex: 0 1 rem(396);
		@media (max-width: $mobile){
			  flex: 0 1 100%;
		}
	}
}

.descp-battle {

	// .descp-battle__above
	&__above {
		font-family: 'Gilroy', serif;
		@include adaptiveValue("font-size", 14, 10);
		font-weight: 700;
		line-height: math.div(17.33, 14);
		color: $redColor;
		&:not(:last-child){
			margin-bottom: em(7, 14);
		}
	}

	// .descp-battle__title
	&__title {
		@include adaptiveValue("font-size", 72, 33);
		font-weight: 700;
		line-height: math.div(72, 72);
		color: #fff;
		&:not(:last-child){
			margin-bottom: em(30, 72);
		}
	}

	// .descp-battle__text
	&__text {
		font-family: 'Gilroy', serif;
		font-size: rem(14);
		font-weight: 500;
		line-height: math.div(16.98, 14);
		color: #fff;
		p {
			&:not(:last-child){
				margin-bottom: em(20, 14);
			}
		}
		&:not(:last-child){
			@include adaptiveValue("margin-bottom", 56, 20);
		}
	}

	// .descp-battle__btn
	&__btn {
		font-family: 'Bebas Neue' serif;
		@include adaptiveValue("font-size", 30.51, 14);
		font-weight: 700;
		line-height: math.div(30.51, 30.51);
		letter-spacing: 0.1em;
		@include adaptiveValue("padding-top", 17, 15);
		@include adaptiveValue("padding-bottom", 17, 15);
		min-width: rem(353);
		transition: $mainTransition;
		@media (any-hover: hover){
			 &:hover { 
			 opacity: $opacity; 
		  } 
		}
		@media (max-width: $mobile){
			min-width: auto;
			width: 100%;
	 }
	}
}
//========================================================================================================================================================

.faq {
	position: relative;
	overflow: hidden;
	// background: linear-gradient(360deg, #D9D9D9 0%, rgba(217, 217, 217, 0) 100%);
	&::before{
		content:''; 
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url('../img/faq/faq-bg.svg') 0 0 no-repeat;
	}
	&::after{
		content:''; 
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url('../img/faq/faq-grid.svg') 0 0 no-repeat;
	}

	// .faq__container
	&__container {
		position: relative;
		z-index: 3;
	}

	// .faq__title
	&__title {
		font-size: 52px;
		@include adaptiveValue("font-size", 52, 36);
		font-weight: 700;
		line-height: math.div(52, 52);
		&:not(:last-child){
			margin-bottom: em(70, 52);
		}
	}
	// .faq__spollers

	&__spollers {
		max-width: rem(936);
		margin: 0px auto;
	}
} 

//========================================================================================================================================================

.social {
	background-color: $mainBgColor;

	// .social__container
	&__container {
	}

	// .social__title
	&__title {
		@include adaptiveValue("font-size", 72, 36);
		font-weight: 700;
		line-height: math.div(72, 72);
		color: #1F1D21;
		&:not(:last-child){
			margin-bottom: em(33, 72);
		}
	}

	// .social__inner
	&__inner {
		display: grid; 
		grid-template-columns: repeat(auto-fit, minmax(rem(80), 1fr)); 
		justify-content: center;
		gap: rem(30);
		max-width: rem(800);
		margin: 0px auto;
	}

	// .social__item
	&__item {
	}
}

.item-social {
	display: flex;
	align-items: center;
	justify-content: center;
	@include adaptiveValue("max-height", 60, 40);
	img {
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
}
//========================================================================================================================================================

.cookies {
	background-color: #D9D9D9;

	// .cookies__container
	&__container {
		max-width: rem(1268);
	}

	// .cookies__box
	&__box {
	}
}

.box-cookies {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	@include adaptiveValue("gap", 30, 15);

	// .box-cookies__text
	&__text {
		@include adaptiveValue("font-size", 30, 14);
		font-weight: 700;
		line-height: math.div(30, 30);
		letter-spacing: 0.1em;
		text-align: center;
		color: #000;
	}

	// .box-cookies__btn
	&__btn {
		font-family: 'Bebas', sans-serif;
		@include adaptiveValue("font-size", 30, 18);
		font-weight: 700;
		line-height: math.div(30, 30);
		letter-spacing: 0.1em;
		padding: rem(20) rem(130);
		@include adaptiveValue("padding-top", 20, 13);
		@include adaptiveValue("padding-bottom", 20, 13);
		@include adaptiveValue("padding-left", 130, 20);
		@include adaptiveValue("padding-right", 130, 20);
		background-color: #a1a1a2;
		transition: $mainTransition;
		@media (max-width: $mobile){
			  width: 100%;
		}
		@media (any-hover: hover){
			 &:hover { 
				background-color: #363438;
		  } 
		}
	}
}
//========================================================================================================================================================

.about-game {
	background-color: #D9D9D9;

	// .about-game__container
	&__container {
		max-width: rem(1260);
		gap: rem(50);
	}

	// .about-game__title
	&__title {
		display: grid; 
		gap: rem(10);
		@include adaptiveValue("font-size", 111.12, 32);
		font-weight: 700;
		line-height: math.div(111.12, 111.12);
		color: #1F1D21;
		&:not(:last-child){
			margin-bottom: em(20, 111.12);
		}
		span {
			color: $redColor;
			@media (min-width:em(769)){
				text-align: right;
			}
		}
	}

	// .about-game__subtitle
	&__subtitle {
		font-family: 'Gilroy', serif;
		@include adaptiveValue("font-size", 22, 14);
		font-weight: 700;
		line-height: math.div(27.24, 22);
		color: #858486;
		@media (min-width:em(769)){
			width: 50%;
			transform: translateY(-100%);
		}
	}
}
//========================================================================================================================================================

.info-game {
	position: relative;
	background-color: #bcbcbc;
	// overflow: hidden;
	z-index: 5;
	&::before{
		content:''; 
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 53%;
		background: url('../img/info-game/info-game-bg.svg') 0 0 no-repeat;
		background-size: contain;
		z-index: 3;
	}

	// .info-game__container
	&__container {
		max-width: rem(1380);
	}

	// .info-game__inner
	&__inner {
		display: flex;
		flex-direction: column;
		@include adaptiveValue("gap", 50, 25);
	}

	// .info-game__item
	&__item {

	}
}

.item-info-game {
	position: relative;
	z-index: 5;
	display: grid; 
	grid-template-columns: repeat(auto-fit, minmax(rem(350), 1fr)); 
	@include adaptiveValue("gap", 78, 15);
	@media (max-width: em(414)){
		grid-template-columns: 1fr; 
	}

	// .item-info-game__img
	&__img-ibg {
		padding-bottom: 66.6%;
		background-color: grey;
		&._grey {
			@media (min-width:em(769)){
				&::before{
					content: "";
					position: absolute;
					bottom: rem(-18);
					left: rem(-18);
					width: 100%;
					height: 100%;
					background-color: #D9D9D9;
				}
			}
		}
		&._red {
			@media (min-width:em(769)){
				&::before{
					content: "";
					position: absolute;
					bottom: rem(-18);
					right: rem(-18);
					width: 100%;
					height: 100%;
					background-color: $redColor;
				}
			}
		}
	}

	// .item-info-game__descp
	&__descp {
	}
}

.descp-info-game {
	display: flex;
	flex-direction: column;
	justify-content: center;

	// .descp-info-game__title
	&__title {
		font-size: 72px;
		@include adaptiveValue("font-size", 72, 32);
		font-weight: 700;
		line-height: math.div(72, 72);
		color: #1F1D21;
		&:not(:last-child){
			margin-bottom: em(26, 72);
		}
	}

	// .descp-info-game__text
	&__text {
		font-family: 'Gilroy', serif;
		@include adaptiveValue("font-size", 16, 14);
		font-weight: 500;
		line-height: math.div(19.41, 16);
		color: #1F1D21;
		p {
			&:not(:last-child){
				margin-bottom: em(25, 16);
			}
			span {
				font-weight: 700;
			}
		}
	}
}

.info-game__slogan {
	display: grid; 
	font-family: 'Gilroy', serif;
	@include adaptiveValue("font-size", 20, 14);
	font-weight: 700;
	line-height: math.div(24.76, 20);
	letter-spacing: 0.2em;
	color: $redColor;
	text-transform: uppercase;
	@media (min-width:em(812)){
		width: 26.5%;
		span {
			text-align: right;
		}
	}
}

.info-game__item {
	@media (max-width: em(768)){
		  &:nth-child(3) {
			.item-info-game__img-ibg {
				order: 1;
			}
			.item-info-game__descp {
				order: 2;
			}
		  }
	}
}

.info-game {

	// .info-game__arena-modes
	// &__arena-modes {
	// 	@include adaptiveValue("padding-top", 87, 35);
	// 	// margin-bottom: rem(-130);
	// }
}

.arena-modes-title__container {
	max-width: rem(1620);
}

.arena-modes {
	background-color: #BA2E35;
	// .arena-modes__container
	&__container {
		max-width: 100%;
	}

	// .arena-modes__title
	&__title {
		&:not(:last-child){
			margin-bottom: em(73, 53);
			// @include adaptiveValue("margin-bottom", 53, 25);
		}
	}

	// .arena-modes__main
	&__main {
		@include adaptiveValue("padding-top", 20, 10);
		// transform: translateY(130px);
	}
}

.main-modes {

	// .main-modes__container
	&__container {
		position: relative;
		max-width: rem(1390);
		gap: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
		@media (max-width: em(991)){
			 padding: 0; 
		}
	}

	&__images { 
		position: relative;
		max-width: 100%;
		padding-top: 0;
		padding-bottom: 0;
		width: 100%;
		display: flex;
		justify-content: center;
		padding-left: rem(210);
		padding-right: rem(210);
		@media (max-width: em(1360)){
			padding-left: rem(195);
			padding-right: rem(195);
		}
		@media (max-width: em(1200)){
			padding-left: rem(173);
			padding-right: rem(173);
		}
		@media (max-width: em(1024)){
			padding-left: rem(143);
			padding-right: rem(143);
		}
		@media (max-width: em(991)){
			  padding: 0;
			  z-index: 5000;
		}
	}

	// .main-modes__slider
	&__slider {
		max-width: 100%;
		width: 100%;
		position: relative;
		padding-bottom: 56.1%;
		@media (max-width: em(515)){
			padding-bottom: 70%;
		}
		@media (max-width: em(375)){
			padding-bottom: 80%;
		}
	}

	// .main-modes__swiper
	&__swiper {
		position: absolute !important;
		top: 0px;
		left: 0px;
	}

	// .main-modes__slide
	&__slide {
		// min-height: rem(662);
	}
}

.slide-main-modes {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 58px 98px 67px 78px;
	@include adaptiveValue("padding-top", 58, 25);
	@include adaptiveValue("padding-right", 98, 15);
	@include adaptiveValue("padding-bottom", 67, 25);
	@include adaptiveValue("padding-left", 78, 15);
	overflow: hidden;
	background: rgba(31, 29, 33, 1);
	width: 100% !important;
	&::before{
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		height: 38.3%;
		background-size: cover;
	}

	// .slide-main-modes__img
	&__img {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		@include adaptiveValue("right", 98, 10);
		// width: 43.5%; 
		@include adaptiveValue("width", 422, 100);
		height: 100%;
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	// .slide-main-modes__header
	&__header {
		z-index: 5;
		flex: 1 1 auto;
		&:not(:last-child){
			@include adaptiveValue("margin-bottom", 30, 15);
		}
	}

	// .slide-main-modes__icon
	&__icon-ibg {
		position: relative;
		max-width: 220px;
		padding-bottom: 100%;
		// height: 260px;
		z-index: 5;
		&:not(:last-child){
			@include adaptiveValue("margin-bottom", 20, 10);
		}
	}

	// .slide-main-modes__title
	&__title {
		@include adaptiveValue("font-size", 55, 26);
		font-weight: 700;
		line-height: math.div(34, 55);
		color: #fff;
		&:not(:last-child){
			margin-bottom: em(15, 55);
		}
	}

	// .slide-main-modes__footer
	&__footer {
		z-index: 5;
	}

	// .slide-main-modes__text
	&__text {
		max-width: rem(260);
		width: 100%;
			p {
				font-family: 'Gilroy', serif;
				font-size: rem(14);
				font-weight: 500;
				line-height: math.div(16.98, 14);
				color: #fff;
				&:not(:last-child){
					margin-bottom: em(15, 14);
				}
			}
	}
}
.main-modes__buttons {
	position: absolute;
	/* bottom: 0; */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 5;
	justify-content: space-between;
	/* width: 68%; */
	z-index: 500;
	@media (max-width: em(991)){
		  width: 100%;
	}
} 

.main-modes__arrow-next {
	right: 15%;
	justify-content: flex-end;
}
.main-modes__arrow-prev {
	left: 15%;
}

.main-modes__images {
	.slider-arrow {
		top: 0;
		position: absolute;
		z-index: 5;
		width: 10%;
		height: 100%;
		display: flex;
		align-items: center;
		padding: 0 rem(10) 0 rem(10);
		@media (max-width: em(768)){
			  display: none;
		}
	}
}

.main-modes {

	// .main-modes__thumbs
	&__thumbs {
		position: absolute;
		max-width: 100%;
		height: 100%;
		@media (max-width: em(991)){
			// @include adaptiveValue("top", 95, 30);
		}
		// @media (max-width: em(700)){
		// 	@include adaptiveValue("top", 95, 45);
		// }
	}
}

.thumbs-images {
	width: 100%;
	height: 100%;

	// .thumbs-images__slider
	&__slider {
		position: relative;
		width: 100%;
		height: 100%;
	}

	// .thumbs-images__swiper
	&__swiper {
		display: grid !important;
		grid-template-columns: rem(220) 1fr rem(220);
		gap: 0.625rem;
		top: 0;
		left: 0;
		align-items: self-start;
		@media (max-width: em(1360)){
			grid-template-columns: rem(200) 1fr rem(200);  
		}
		@media (max-width: em(1200)){
			grid-template-columns: rem(180) 1fr rem(180);   
		}
		@media (max-width: em(1024)){
			grid-template-columns: rem(150) 1fr rem(150);   
		}
		@media (max-width: em(991)){
			grid-template-columns: rem(250) 1fr rem(250);   
		}
		@media (max-width: em(768)){
			grid-template-columns: rem(180) 1fr rem(180);   
		}
		@media (max-width: em(515)){
			grid-template-columns: rem(130) 1fr rem(130);   
		}
	}

	// .thumbs-images__slide
	&__slide {
		transform: translate3d(0px, 0px, 0px) !important;
		opacity: 1 !important;
		z-index: 500;
		cursor: pointer;
		// &.swiper-slide-thumb-active {
		// 	opacity: 0;
		// 	visibility: hidden;
		// }
	}
}

.thumbs-images__slide {
	&:nth-child(2)	{
		opacity: 0 !important;
		visibility: hidden;
	}
}

.slide-thumbs-images {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	overflow: hidden;
	width: 100% !important;
	// padding: 13px 24px;
	height: 100% !important;

	// .slide-thumbs-images__img
	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #1F1D21;
		img {
			width: 100%;
			object-position: top;
		}
		@media (max-width: em(991)){
			  opacity: 0;
		}
	}

	// .slide-thumbs-images__header
	&__header {
		flex: 1 1 auto;
		z-index: 5;
	}

	// .slide-thumbs-images__footer
	&__footer {
		@include adaptiveValue("font-size", 22, 12);
		font-weight: 700;
		line-height: math.div(34, 22);
		z-index: 5;
		color: #af7679;
		@include adaptiveValue("padding-top", 13, 8);
		@include adaptiveValue("padding-right", 24, 10);
		@include adaptiveValue("padding-bottom", 13, 8);
		@include adaptiveValue("padding-left", 24, 10);
		width: 100%;
		border-top: rem(7) solid #BA2E35;
		background-color: #1F1D21;
		@media (max-width: em(991)){
			  text-align: center;
		}
	}
}

.main-modes__thumbs {
	@media (max-width: em(991)){
		  height: 111%;
	}
	@media (max-width: em(768)){
		height: 113%;
 	}
	 @media (max-width: em(612)){
		height: 115%;
 	}
	 @media (max-width: em(345)){
		height: 117%;
 	}
}
//========================================================================================================================================================

.heroes {
	background-color: #BA2E35;
	overflow: hidden;
	position: relative;
	padding-bottom: 60%;

	// .heroes__banner
	&__banner {
	}

	// .heroes__container
	&__container {
		max-width: rem(1315);
	}
}

.banner-heroes {
	position: relative;
	height: 100%;
	// background-image: url(../img/heroes/heroes-banner-img.png);
	background: url('../img/heroes/heroes-bg.png') 0 0 no-repeat;
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	&::after{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		content:''; 
		// background: url('../img/heroes/heroes-bg.png') 0 0 no-repeat;
		background-image: url(../img/heroes/heroes-banner-img.png);
		background-size: cover;
		height: 100%;
		z-index: 1;
	}
	&::before{
		content:''; 
		position: absolute;
		// bottom: 0;
		left: 0;
		width: 100%;
		height: 60%;
		background-image: url(../img/heroes/heroes-bg-red.png);
		background-size: cover;
		background-repeat: no-repeat;
		z-index: 1;
	}

	// .banner-heroes__descp
	&__descp {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		z-index: 5;
	}

	// .banner-heroes__above
	&__above {
		font-family: 'Bebas', serif;
		font-size: 91.42px;
		@include adaptiveValue("font-size", 91.42, 30);
		font-weight: 700;
		line-height: math.div(91.42, 91.42);
		letter-spacing: 0.25em;
		text-align: center;
		// color: rgba(57, 230, 246, 1); 
		color: #1F1D21;
	}

	// .banner-heroes__title
	&__title {
		font-family: 'Bebas', serif;
		@include adaptiveValue("font-size", 193.58, 56);
		font-weight: 700;
		line-height: math.div(193.58, 193.58);
		letter-spacing: 0.05em;
		text-align: center;
		color: #D9D9D9;
	}

	// .banner-heroes__img-ibg
	&__img-ibg {
		padding-bottom: 45.5%;
		z-index: 5;
		@media (min-width:em(992)){
			transform: translateY(-138px);
		}
	}
}

//========================================================================================================================================================

.maps-game {
	background-color: #BA2E35;
	// .maps-game__wrpper
	&__container {
		max-width: rem(1620);
	}

	&__title-block {
		&:not(:last-child){
			@include adaptiveValue("margin-bottom", 70, 35);
		}
	}

	// .maps-game__title
	&__title { 
		&:not(:last-child){
			margin-bottom: em(30, 52);
		}
	}

	// .maps-game__main
	&__main {
	}
}

.main-maps-game {

	// .main-maps-game__slider
	&__slider {
		display: flex;
		flex-direction: column;
	}

	// .main-maps-game__swiper
	&__swiper {

	}

	// .main-maps-game__slide
	&__slide {
		position: relative;
		&::before{
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: inherit;
			background: linear-gradient(180deg, #1F1D21 0%, rgba(31, 29, 33, 0) 190%);
			z-index: 5;
			transition: $mainTransition;
		}
		&.swiper-slide-active {
			&::before{
				opacity: 0;
				z-index: -1;
			}
		}
	}
	&__buttons {
		@include adaptiveValue("gap", 101, 15);
		@include adaptiveValue("margin-top", 38, 15);
	}
	&__fraction {
		.swiper-pagination-current {
			font-family: 'Bebas', serif;
			@include adaptiveValue("font-size", 80, 26);
			font-weight: 700;
			line-height: math.div(80, 80);
			color: #989898;
		}
		.swiper-pagination-total {
			display: none;
		}
	}
	.slider-arrow svg path {
		fill: #989898 !important;
  }
}

.slide-maps-game {
	display: flex;
	flex-direction: column;

	// .slide-maps-game__img
	&__img-ibg {
		width: 100%;
		padding-bottom: 100%;
		overflow: hidden;
		background-color: grey;
	}
	&__img-btn {
		position: absolute;
		top: 50%;
		left: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 158px;
		height: 82px;
		transform: translate(-50%, -50%);
		overflow: hidden;
		svg {
			width: 100%;
			height: 100%;
		}
	}

	// .slide-maps-game__body
	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
		@include adaptiveValue("padding-top", 43, 15);
		@include adaptiveValue("padding-left", 30, 15);
		@include adaptiveValue("padding-right", 30, 15);
		@include adaptiveValue("padding-bottom", 43, 15);
		background-color: #1F1D21;
	}

	// .slide-maps-game__name
	&__name {
		@include adaptiveValue("font-size", 68, 32);
		font-weight: 700;
		line-height: math.div(68, 68);
		text-align: center;
		color: #fff;
		flex: 1 1 auto;
		&:not(:last-child){
			margin-bottom: em(20, 68);
		}
	}

	// .slide-maps-game__btn
	&__btn {
		font-family: 'Gilroy', serif;
		@include adaptiveValue("font-size", 20, 14);
		font-weight: 500;
		line-height: math.div(24.26, 20);
		letter-spacing: 0.25em;
		width: 100%;
		background-color: inherit;
		color: #626164;
		border: rem(2) solid #626164;
		transition: $mainTransition;
		@media (any-hover: hover){
			 &:hover { 
			 color: #fff; 
			 border: rem(2) solid #fff;
		  } 
		}
	}
}



